.right-img{
  width:90%;
}

.left-img{
  height:80%;
  max-width: 100%;
}
.image-container {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.interline{
  margin:0 !important;
  background-color: #523f15b0 !important;
  height: 30px;
}

.row-bg-dark{
  margin:0 !important;
  background-color: black;
  color: white;
}

.row-bg-light{
  margin:0 !important;
  background-color: #FCF7DE;
}
