button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

.aboutus {
  margin: 0 !important;
  padding-bottom: 15%;
  color: black;
  background-image: url("./assets/img/home-background/wave-haikei.svg");
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.aboutus-img {
  width: 80%;
  border-radius: 72% 28% 71% 29% / 31% 77% 23% 69% ;
  background-color: #887a5d;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.socials {
  margin: 0 !important;
  padding-top: 10%;
  padding-bottom: 30%;
  color: white;
  background-image: url("./assets/img/home-background/noreseaux.svg");
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url("./assets/img/reseaux/blob-haikei.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10%;

}

.insta {
  background-image: url("./assets/img/reseaux/blob-haikei 1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10%;
}

.tiktok {
  background-image: url("./assets/img/reseaux/blob-haikei 2.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10%;

}

.social-img {
  width: 25%;
}

.iframe {
  width: 100%;
}

.home-section {
  background-color: #000000;
  width: 100%;
  padding: 0;
  margin: 0 !important;
}

.right-section {
  padding: 0 !important;
  background-image: url('./assets/img/bg1.jpg');
  /* Set the image URL */
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.left-section {
  letter-spacing: 0.2em;
  color: white;
  background-color: #010101;
  /* Set your desired color */
  padding: 20px;
}

.intersection {
  background-color: #010101;
  height: 60vh;
  background: #010101;
  background: linear-gradient(180deg, #010101 0%, rgba(0, 0, 0, 1) 32%, rgba(252, 247, 222, 1) 100%);
}

@media screen and (max-width: 600px) {
  h2{
    font-size: 17px !important;
  }
  h1{
    font-size: 17px !important;
    text-align: center;
  }
  .right-section {
    height: 30vh;
  }
}
