button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

.content{
  position: relative;
  z-index: 1;
  background-color: white;
  padding: 20px;
  margin-top: -50px; /* adjust as needed */
}
/* .aboutus{
  background-image: url("./assets/img/paw_prints_trail_across_screen.jpg");
  background-size: 60%;
  background-repeat: no-repeat;
} */