.right-img{
  width:100%;
  width: 100%;
}

.left-img{
  height:80%;
  max-width: 100%;
}
.image-container {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.row-bg-dark{
  background-color: black;
  color: white;
}

.row-bg-light{
  background-color: #FCF7DE;
}